.w-full {
    width: 100%;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}


.bolder {
    font-weight: bolder;
}

.font-none {
    font-weight: 100;
}

.flex-col {
    flex-direction: column;
}



/* .myheader-space,
.myfooter-space {
    height: 50px;
    background-color: red;
} */


@media print {
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 95%;
        margin: auto;
        background: white;
        padding-bottom: 1rem;
    }

    .logo-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 95%;
        margin: auto;

        background: white;
    }


    .header-space,
    .footer-space {
        height: 150px;
    }

    .watermark-container {
        position: fixed !important;
        left: 0;
        right: 0;
        /* height: 1122.519685px !important; */
        margin: auto;

        background: white;
    }


    footer.print-footer-container{
        position: fixed;
        bottom: 0;
        left: 2.5;
        right: 2.5;
        width: 95%;
        margin: auto;
        background: white;
        padding-bottom: 1rem;
    }


    .question.logo-container {
        position: fixed;
        top: 0;
        left: 2.5;
        right: 2.5;
        width: 95%;
        margin: auto;

        background: white;
    }

}